<div class="markdown-body">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- 블로그-하단-반응형 -->
  <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4222924715781885"
     data-ad-slot="2853970962"
     data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <br/>
  {{ post.content }}
</div>
<br/>
<br/>
<!-- 블로그-하단-반응형 -->
<ins class="adsbygoogle"
     style="display:block; width:98%; height:300px;"
     data-ad-client="ca-pub-4222924715781885"
     data-ad-slot="1119105513"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>